@container-width: 600px;
@footer-height: 50px;
@header-height: 50px;
@margin-offset: 10px;
@image-height: 225px;
@image-width: 125px;
@image-offset: -175px;

html, body {
	background: purple;
}

#header {
	background-color: red;
	height: @header-height;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 1px 6px black;

	#links {
		width: @container-width;
		margin: (@header-height / 3) auto;
		text-align: right;
		font-size: 20px;

		a {
			margin: 0 10px;
			text-decoration: none;
		}

		:visited {
			color: white;
		}

		:hover {
			color: yellow;
		}
	}
}

#main_container {
	margin-top: (@header-height + @margin-offset);
	margin-bottom: (@image-height - @margin-offset);

	section.content {
		padding: 0 5px 1px 5px;
	}

	#home, #projects, #work {
		margin: 0 auto;
		width: @container-width;
		box-shadow: 0 3px 6px black;

		p {
			padding: 0 25px;	
		}
	}

	#home {
		background-color: yellow;
	}

	#projects {
		background-color: green;
	}

	#work {
		background-color: blue;
	}
}

#footer {
	height: @footer-height;
	background-color: green;
	position: fixed;
	width: 100%;
	bottom: 0;
	box-shadow: 0 -1px 6px black;
	text-align: center;

	#copywrite {
		position: relative;
		top: (@footer-height / 3);
	}	

	#contact {
		width: @container-width;
		margin: 0 auto;
		background-color: yellow;

		#profile_pic {
			float: right;
			position: relative;
			box-shadow: 0 0 10px black;
			top: @image-offset;
			height: @image-height;
			z-index: 1;
		}

		#information {
			float: left;
			position: relative;
			background-color: yellow;
			height: (-@image-offset - @footer-height / 3 - @margin-offset);
			width: (@container-width - @image-width - @margin-offset);
			top: @image-offset;
		}
	}	
}